body{
    display: grid;
    justify-content: center;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 460px;
    width: 460px;
}

.item{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: lightblue;
}

